body {
	margin:0;
	padding: 15px;
	font-family: "Helvetica Neue", Arial, Helvetica, Arimo, FreeSans, "Nimbus Sans", "Phetsarath OT", Malayalam, "Gargi_1.7", sans-serif;
	font-size: 14px;
}
.left-pane, .right-pane {
	margin: 0;
	width: 50%;
	padding: 0;
}
.main {
	height: 75%;
	min-height: 10em;
}
.left-pane {
	clear: left;
	float: left;
}
.right-pane {
	clear: right;
	float: right;
}
#editableContent {
	font-size: 1.0em;
	line-height: 1.2em;
	font-family: inherit;
	white-space: pre-wrap;
	height: 100%;
	overflow: auto;
	margin-right: 5px;
	padding: 8px;
	-webkit-box-shadow: 0 0 2px #f30;
	-moz-box-shadow: 0 0 2px #f30;
	box-shadow: 0 0 2px #f30;
}
#method {
	margin-left: 5px;
}
#dom {
	white-space: pre-wrap;
	margin: 0; padding: 0;
	margin-left: 5px;
	padding: 8px;
	border: none;
	height: 100%;
	display: block;
	-webkit-box-shadow: 0 0 2px #08f;
	-moz-box-shadow: 0 0 2px #08f;
	box-shadow: 0 0 2px #08f;
}
h1, h3 {
	margin: 10px 0 0 0;
	padding: 0;
}
.toggle {
	z-index: 1;
}
.toggle a {
	z-index: 10;
	text-decoration: none;
	color: #55595f;
	background: #ddd;
	padding: 2px 5px;
	border: 1px solid #889;
	

	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Internet Explorer */
	*background: DarkGrey;
	background: DarkGrey\0/;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFFFFAFA, endColorstr=#A9A9A9);
}
@media all and (min-width: 0px) {
	.toggle a {
		/* Recent browsers */
		background-image: -moz-linear-gradient(
			top,
			snow,
			DarkGrey
		);
		background-image: -webkit-gradient(
			linear,
			left top, left bottom,
			from(snow),
			to(DarkGrey)
		);
	}
}

.toggle a.enabled {
	z-index: 12;
	color: #f0f4f9;
	background: 696f78;
	border-color: #33373f;
	
	/* Internet Explorer */
	*background: LightSlateGray;
	background: LightSlateGray\0/;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#696f78, endColorstr=#778899);
}
@media all and (min-width: 0px) {
	.toggle a.enabled {
		/* Recent browsers */
		background-image: -moz-linear-gradient(
			top,
			#696f78,
			LightSlateGray
		);
		background-image: -webkit-gradient(
			linear,
			left top, left bottom,
			from(#696f78),
			to(#778899)
		);
	}
}
	

.toggle a + a {
	margin-left: -1px;
}
.toggle a.enabled + a {
	border-left-color: #33373f;
}
	
.toggle a:first-of-type {
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.toggle a:last-of-type {
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

#dropboxLink {
	float: right;
	font-size: 10px;
	font-weight: normal;
}