@media print {
  .firefox-test-print-styles-applied::after {
      display: block;
      content: "✓ Print styles from screen, projection, print stylesheet applied";
      padding: 0.4em 1.2em;
      color: white;
      background: #18509c;
  }
}
